/*-------------------------------------- HTML PAGE AND BODY-------------------------------*/
html, body{
    font-size: 10px;
    margin : 0;
    padding : 0;
    font-family: 'Monoton', cursive;
}
/*
*{
    text-decoration:none; 
}

body{

    /* réglage mobile et + 
    font-family:sans-serif;
    font-size:16px;
  }*/

img {
width: 70%;
 /*height: 100%;*/
}

ul li {
    display: none;

}

.active {
    display : block;
}

ul {
    text-align: center;
}


.button-wrapper {
    text-align: center;
}

.button-wrapper .button-left {
    background: orange;
    color : black;
    height: 4rem;
    width: 4rem;
    border: 2px solid black;
    font-size: 2rem;
    border-radius: 100px;
    margin-right: 1rem;
    
}

.button-wrapper .button-right {
    background: orange;
    color : black;
    height: 4rem;
    width: 4rem;
    border: 2px solid black;
    font-size: 2rem;
    border-radius: 100px;
    margin-left: 1rem;
   
}

/*------------------------ TITLE ---------------------------*/
h2{
    font-family: 'Monoton', cursive;
    font-size: 60px;
    font-weight: 900;
    line-height: 700px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    z-index: 1;
}

.slidershow{
    width: 70rem;
    height: 40rem;
    overflow: hidden;
}
.middle {
    position: absolute; 
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    display: flex;
    position: absolute; 
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.bar {
width: 5rem;
height: 1rem;
border: 2px solid #fff;
margin: 6px;
cursor: pointer;
transition: 0.4s;
}
.bar:hover{
    background: #fff;
}
.slides{
    width: 50%;
    height: 100%;
    display: flex;
}
.slide {
    width: 20%;
    transition: 0.6s;
}
.slide img {
    width: 100vw;
    height: 100vh;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -20%;
}
.banner-index h2{
    font-family: 'Monoton', cursive;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 8px #111;x 
    z-index: 1;
    }
}

